*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #262936;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}
.card{
    width: 10rem;
    /* border: 0; */
}
.navbar{
    text-transform: uppercase;
    font-weight:700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color:#1E202B;
  }
.navbar-brand img{
    height:2rem;
  }
  .navbar-nav li{
    padding-right:.7rem;
  }
  .navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .8rem;
  }
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #00AFEF;
  }

  .caption h2{
    font-size:2.3rem;
    font-weight: 700;
    letter-spacing: .3rem;
    padding-bottom:1rem;
  }
  
  .caption h3{
    font-size: 2rem;
    padding-bottom: .5rem;
  
  }
  
  .notification{
    background-color: #f8d7da;
    display: none;
}
.notification p{
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 600;
}
.chart{
  width: 80%;
  height: 70vh;
  min-height: 500px;

  margin: 0 auto;

}

/* media queries */
@media (max-width: 767px){
*{
  text-align: center;
}
}